.technologies{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.technologies-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.technology{
    /* background-color: rgb(26, 26, 26); */
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(26, 26, 26);
    padding: .625rem;
    border-radius: .75rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;    
    transition: all 0.3s ease-in-out;
}

.technology h3{
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

.technology p{
    font-size: .875rem;
    line-height: 1.25rem;
}

.technology-icon{
    border-radius: .5rem;
    padding: 0.75rem;
    aspect-ratio: 1/1;
    max-height: 56px;
    max-width: 56px;
    /* filter: grayscale(1); */
}

.technology:hover .technology-icon{
    /* filter: grayscale(0); */
    /* transition: all 0.3s ease-in-out; */
    box-shadow: 0 0 20px 4px rgb(255, 255, 255);
}

.technology:hover{
    background-color: rgb(241, 241, 241);
}

.technology-icon img{
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 800px){
    .technologies-list{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
}

@media screen and (max-width: 540px){
    .technologies-list{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}